<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352748322498-dqadvubkob0pavm6cvqjmi8h826ronbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352748322498-dqadvubkob0pavm6cvqjmi8h826ronbn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352748322498-jm5d3ugb2c0e7l4jokcd50vtbg4rukgp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK8BjoL4yLctGFckInrhs2X-qkJzV312k</string>
	<key>GCM_SENDER_ID</key>
	<string>352748322498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.copay</string>
	<key>PROJECT_ID</key>
	<string>copay-6e4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>copay-6e4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352748322498:ios:478bf80ddfba701822855b</string>
	<key>DATABASE_URL</key>
	<string>https://copay-6e4f5.firebaseio.com</string>
</dict>
</plist>